* {
  background-color: #292929;
  color: white;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  position: relative;
}

#root {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  padding-bottom: 51px;
}

.site-wrapper {
  padding-bottom: 51px;
}

.Header {
  height: 100px;
  text-align: center;
}

.Footer {
  height: 50px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #333
}

.Navbar {
  position: absolute;
  top: 40px;
}

.Signout {
  position: absolute;
  right: 40px;
  top: 30px;
}

.App {
  position: relative;
  min-height: calc(100vh - 151px);
  text-align: center;
}

.signup, .signin {
  margin: auto;
  padding: 1%;
  max-width: 50%;
  background-color: #292929;
  min-height: calc(100vh - 151px);
}

.signup *, .signin * {
  background-color: #292929;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* grid-template-rows: repeat(auto-fill, minmax(100px, 1fr)); */
  grid-gap: 5px;
  width: 80%;
  min-height: 100%;
}

#loading-text {
  font-family: cursive, serif;
}

.product-card {
  display: flex;
  flex-direction: column;
  margin: 5px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.pic {
  position: relative;
  display: flex;
}

.product-card img {
  max-width: 100%;
}

.product-card img.rounded:hover {
  position: relative;
  z-index: 1;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -ms-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}

.product-card h5 {
  position: absolute;
  bottom: 0;
  opacity: 60%;
  max-width: fit-content;
}

.product-card button {
  max-width: 6.5em;
}

.heartIcon {
  position: relative;
  margin-left: auto;
  bottom: 25px;
  max-width: 1.5em;
}

.heartIcon:hover {
  transform: scale(1.2);
}

.cart {
  float: left;
  width: 20%;
  border: 2px solid white;
  padding: 5px;
  height: 79%;
  position: fixed;
  overflow: scroll;
  right: 0;
  text-align: center;
  top: 100px;
}

.lineItem-card {
  margin-bottom: 15px;
  padding: 5px;
  background-color: #202020;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
}

.lineItem-card * {
  background-color: #202020;
}

.lineItem-card img {
  max-width: 90%;
}

.signup {
  clear: both;
}

.lineItem-card .breakpoint {
  display: none;
}

.product-show {
  position: relative;
  margin: auto;
  text-align: center;
}

.showPageWrapper {
  position: relative;
  max-width: fit-content;
  margin: auto;
  padding-bottom: 50px;
}

.product-show p {
  position: relative;
  font-size: .9em;
  max-width: inherit;
}

.product-show h3 {
  text-align: right;
}

.copyright {
  margin-left: auto;
  font-family: serif;
  font-style: italic;
  font-size: .7em;
}

.remove_from_cart_btn span {
  background-color: #dc3545;
}

.remove_from_cart_btn:hover span {
  background-color: #d00030;
}

@media only screen and (max-width: 1095px) {
  .lineItem-card .breakpoint {
    display: block;
  }

  .cart h3 {
    font-size: 150%;
  }

  .remove_from_cart_btn span {
    font-size: 80%;
  }
}

@media only screen and (max-width: 970px) {
  .cart h3 {
    font-size: 120%
  }
  .cart h5 {
    font-size: 100%;
  }

  .lineItem-card {
    font-size: 75%;
  }

  .remove_from_cart_btn span {
    font-size: 61%;
  }
}

@media only screen and (max-width: 800px) {
  .cart {
    width: 150px;
  }

  .cart h3 {
    font-size: 100%;
  }

  .cart h5 {
    font-size: 80%;
  }
  
  .lineItem-card {
    font-size: 70%;
  }

  .remove_from_cart_btn span {
    font-size: 55%;
  }
}